<div id="modal-vinculo-produto" class="modal-overlay" onclick="if(event.target===this)fecharModalVinculoProduto()">
  <div class="modal-panel modal-vinculo-panel" id="modal-vinculo-produto-panel">
    <div class="modal-panel-header">
      <h3 id="modal-vinculo-titulo">Aviso de vínculo</h3>
      <button type="button" class="modal-close" onclick="fecharModalVinculoProduto()">&times;</button>
    </div>
    <div id="modal-vinculo-conteudo"></div>
    <div class="modal-vinculo-acoes" id="modal-vinculo-acoes"></div>
  </div>
</div>
