<div id="cockpit-resumo">
  {% include 'relacionamento/partials/cockpit_resumo.html' %}
</div>

<div id="cockpit-acoes">
  {% include 'relacionamento/partials/cockpit_acoes_rapidas.html' %}
</div>

<div class="cockpit-hero-grid">
  <div id="cockpit-calendario">
    {% include 'relacionamento/partials/cockpit_calendario.html' %}
  </div>
  <aside class="cockpit-sidebar">
    <div id="cockpit-proximas">
      {% include 'relacionamento/partials/cockpit_proximas_sidebar.html' %}
    </div>
    <div id="cockpit-insights">
      {% include 'relacionamento/partials/cockpit_insights.html' %}
    </div>
  </aside>
</div>

<div id="atividade-diaria-content">
  {% include 'relacionamento/partials/atividade_diaria_hoje_atrasadas.html' %}
</div>

<div id="ultimas-interacoes">
  {% include 'relacionamento/partials/cockpit_ultimas_interacoes.html' %}
</div>
