<div id="cockpit-resumo">
  {% include 'relacionamento/partials/cockpit_resumo.html' %}
</div>

<div id="cockpit-acoes">
  {% include 'relacionamento/partials/cockpit_acoes_rapidas.html' %}
</div>

<div class="cockpit-middle-grid">
  <div id="cockpit-calendario">
    {% include 'relacionamento/partials/cockpit_calendario.html' %}
  </div>
  <div id="cockpit-sem-contato">
    {% include 'relacionamento/partials/cockpit_sem_contato.html' %}
  </div>
</div>

<div id="atividade-diaria-content">
  {% include 'relacionamento/partials/atividade_diaria_listas.html' %}
</div>

<div id="ultimas-interacoes">
  {% include 'relacionamento/partials/cockpit_ultimas_interacoes.html' %}
</div>
